<ion-content>

  <ion-searchbar
    debounce="300"
    placeholder="Entrée le nom de l'enseignant"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    [(ngModel)]="this.searchCurrent" 
  ></ion-searchbar>

  <div *ngIf="this.API.profs && !this.API.profEdt">

    <div *ngIf="this.searchCurrent.length >= 3">
      <ion-list>    
        <div *ngFor="let section of this.API.profs" class="prof">
          <div *ngFor="let prof of section.names">
    
            <!-- Si le nom de l'UE contient l'input -->
            <ion-item
              *ngIf="prof.name.toLowerCase().includes(this.searchCurrent.toLowerCase())"
              (click)="this.API.getEdtProf(prof.uapvHarpege)"
            >
              <ion-label>
    
                <p>
                  {{prof.name}}
                </p>
    
              </ion-label>
            </ion-item>
              
          </div>
        </div>    
      </ion-list>
    </div>

  </div>

  <div *ngIf="!this.API.profs || !this.searchCurrent || this.searchCurrent.length < 3" style="text-align: center;">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">
      Entrée le nom de l'enseignant
    </p>
  </div>

</ion-content>