<ion-toolbar>

  <ion-searchbar
    debounce="500"
    placeholder="Entrée le nom de l'enseignant"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    [(ngModel)]="this.searchCurrent" 
  ></ion-searchbar>

</ion-toolbar>


<div *ngIf="this.API.profs">
  <ion-list>

    <div *ngFor="let section of this.API.profs">
      <div *ngFor="let prof of section.names">
  
          <div *ngIf="this.searchCurrent.length <= 0">
            <ion-item (click)="this.API.getEdtProf(prof.uapvHarpege)">
              <ion-label>
    
                <p>
                  {{prof.name}}
                </p>
    
              </ion-label>
            </ion-item>
          </div>
    
          <div *ngIf="this.searchCurrent.length > 0">

            <!-- Si le nom de l'UE contient l'input -->
            <ion-item
              *ngIf="prof.name.toLowerCase().includes(this.searchCurrent.toLowerCase())"
              (click)="this.API.getEdtProf(prof.uapvHarpege)"
            >
              <ion-label>
    
                <p>
                  {{prof.name}}
                </p>
    
              </ion-label>
            </ion-item>

          </div>
          
      </div>
    </div>

  </ion-list>
</div>