<ion-content class="align-items-center" fullscreen>
    
  <ion-searchbar
    debounce="500"
    placeholder="Entrée votre UE"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    [(ngModel)]="this.searchCurrent"
  ></ion-searchbar>

  <div *ngIf="this.API.ue">

    <!-- Si la search bar est remplit -->
    <div *ngIf="this.searchCurrent">
      <ion-list>

        <div *ngFor="let section of this.API.ue">
          <div *ngFor="let ue of section.names">

            <!-- Si le nom de l'UE contient l'input -->
            <ion-item
              *ngIf="ue.name.toLowerCase().includes(this.searchCurrent.toLowerCase()) || this.searchCurrent.length <= 0"
              (click)="this.API.getEdtUe(ue.code)"
            >
              <ion-label>
    
                <p>
                  {{ue.name}}
                </p>
    
              </ion-label>
            </ion-item>
              
          </div>
        </div>      

      </ion-list>
    </div>

  </div>

  <div *ngIf="!this.API.ue || !this.searchCurrent" style="text-align: center;">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">Entrée votre UE</p>
  </div>

</ion-content>