.information
{
    font-size: 10em;
    color: rgba(229, 229, 234);
}

.ion-color-search
{
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 255,255,0;
    // Color of the text contain in the object who have set this color
    --ion-color-contrast: #6075b6;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #6075b6;
    --ion-color-tint: #ffffff;
}