<ion-content>

  <div *ngIf="this.edt" style="height: 100vh !important;">

    <full-calendar
      id="calendar"
      [events]="this.API.loadCalendar(this.edt)"
      defaultView="timeGridWeek"
      [displayEventTime]="true"
      [locale]="'fr'"
      [header]="{
        left: 'prev,next today',
        center: '',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }"
      [plugins]="this.calendarPlugins"
      [weekends]="false"
      minTime="08:00:00"
      maxTime="20:00:00"
      slotDuration="00:30:00"
      [nowIndicator]="true"
      [allDaySlot]="false"
      (eventClick)="this.clickItem($event)"
    ></full-calendar>

  </div>

</ion-content>