<ion-toolbar>

  <!-- Searchbar with a custom debounce -->
  <ion-searchbar
    debounce="500"
    placeholder="Entrée votre diplôme / filière"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    (ionChange)="this.onChange()"
  ></ion-searchbar>

</ion-toolbar>

<ion-content align-items-center>

  <div *ngIf="!this.API.promos">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">Fill up the field</p>
  </div>
  
  <div *ngIf="this.API.promos">

    <h1>Diplomes:</h1>

    <div *ngFor="let section of this.API.promos">

      <b>
        Section: {{section.letter}}
      </b>

      <ion-list *ngFor="let diplome of section.names">

        <ion-item>
          <ion-label>

            <p>
              Name: {{diplome.name}}
            </p>

            <ion-button (click)="this.API.getGroupsAndEdt(diplome.code)">
              Get Groups
            </ion-button>

          </ion-label>
        </ion-item>

      </ion-list>

    </div>
  </div>  

</ion-content>