<ion-content class="align-items-center" fullscreen>

    <div *ngIf="!this.API.promos">
      <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
      <p style="color: rgba(229, 229, 234); font-size: 2em;">Fill up the field</p>
    </div>
  
    <!-- La partie des promotions -->
    <div *ngIf="this.API.promos">
      
      <ion-searchbar
      debounce="500"
      placeholder="Entrée votre diplôme / filière"
      autocomplete="on"
      clearIcon="close"
      color="search"
      inputmode="text"
      searchIcon="ios-funnel"
      [(ngModel)]="this.searchCurrent" 
      ></ion-searchbar>

      <ion-list>
  
        <div *ngFor="let section of this.API.promos">
          <div *ngFor="let diplome of section.names">
      
              <div *ngIf="this.searchCurrent.length <= 0">
                <ion-item (click)="this.API.getGroupsAndEdt(diplome.code); this.searchCurrent = '';">
                  <ion-label>
        
                    <p>
                      {{diplome.name}}
                    </p>
        
                  </ion-label>
                </ion-item>
              </div>
        
              <div *ngIf="this.searchCurrent.length > 0">
  
                <!-- Si le nom de l'UE contient l'input -->
                <ion-item
                  *ngIf="diplome.name.toLowerCase().includes(this.searchCurrent.toLowerCase())"
                  (click)="this.goToGroups(diplome.code)"
                >
                  <ion-label>
        
                    <p>
                      {{diplome.name}}
                    </p>
        
                  </ion-label>
                </ion-item>
  
              </div>
              
          </div>
        </div>
  
      </ion-list>
    </div>
  
  </ion-content>