<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="formations">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Formations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enseignants">
      <ion-icon name="people"></ion-icon>
      <ion-label>Enseignants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ue">
      <ion-icon name="book"></ion-icon>
      <ion-label>UE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ueo">
      <ion-icon name="football"></ion-icon>
      <ion-label>UEO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="salles">
      <ion-icon name="home"></ion-icon>
      <ion-label>Salles</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
