<ion-content>

  <div 
    style="
      height: 80vh;
      width: 90vw;

      position: absolute;
      left: 47%;
      top: 40vh;
      margin-left: -150px;
      margin-top: -150px;
    "
  >

    <!-- Header -->
    <div
      class="badAnswer"
      style="
        text-align: center;
        color: #ffffff;
        height: 15%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      "
    >
      <p
        style="
          font-size: 1.75em;
          font-weight: 600;
          margin-top: 0% !important;
          padding-top: 7%;
          text-transform: uppercase;
        "
      >
        {{this.startTime | date:'HH:mm'}} - {{this.endTime | date:'HH:mm'}} / {{this.type}}
      </p>
    </div>

    <!-- Footer -->
    <div
      style="
        background-color: #ffffff;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 4%;
        height: 80%;
        text-align: center;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
      "
    >
      <p style="color: #ff3061; margin-top: 0%; padding-top: 6%;">
        Informations sur le cours:
      </p>

      <!-- Matière -->
      <p>
        {{this.matiere}}
      </p>

      <!-- Enseignant -->
      <p>
        {{this.enseignant}}
      </p>

      <!-- TD -->
      <p>
        {{this.td}}
      </p>
      
      <!-- Salle -->
      <p>
        {{this.salle}}
      </p>
      
      <p *ngIf="this.desc" >
        Description: {{this.desc}}
      </p>

      <p *ngIf="this.type" >
        Type: {{this.type}}
      </p>

      <ion-button 
        (click)="goBack()"
        expand="full"
        shape="round"
        size="large"
        color="retry"
        style="color: #804f00; padding-top: 3%;"
      >
        Fermer
      </ion-button>

    </div>

  </div>

</ion-content>