/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

ion-col
{
    padding: 0%;
}


.info-edt {
    --background: rgba(0, 0, 0, 0.25); 
    --height: 100%;
    
    ion-content {
      --background: rgba(0, 0, 0, 0.25);
    }
}

// // Week view
// .weekview-allday-table {
//     display: none !important;
// }

// .weekview-allday-label {
//     display: none !important;
// }
    
// .weekview-normal-event-container {
//     margin-top: 37px !important;
// }

// // Day view
// .dayview-allday-table {
//     display: none !important;
// }

// .dayview-normal-event-container {
//     margin-top: 0px !important;
// }

// .dayview-allday-content-wrapper {
//     height: 0px !important;
// }