
<ion-content class="align-items-center" fullscreen>
  
  <ion-searchbar
    debounce="500"
    placeholder="Entrée votre UEO"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    [(ngModel)]="this.searchCurrent"
  ></ion-searchbar>

  <div *ngIf="!this.API.ueo" style="text-align: center;">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">Chargement...</p>
  </div>

  <div *ngIf="this.API.ueo">

    <ion-list>

      <div *ngFor="let section of this.API.ueo">
        <div *ngFor="let ueo of section.names">      

          <!-- Si le nom de la ueo contient l'input -->
          <ion-item
            *ngIf="ueo.name.toLowerCase().includes(this.searchCurrent.toLowerCase()) || this.searchCurrent.length <= 0"
            (click)="this.API.getEdtUeo(ueo.code)"
          >
            <ion-label>
  
              <p>
                {{ueo.name}}
              </p>
  
            </ion-label>
          </ion-item>      

        </div>
      </div>      

    </ion-list>
  </div>

</ion-content>