<ion-toolbar>

  <!-- Searchbar with a custom debounce -->
  <ion-searchbar
    debounce="500"
    placeholder="Entrée votre diplôme / filière"
    autocomplete="on"
    clearIcon="close"
    color="search"
    inputmode="text"
    searchIcon="ios-funnel"
    (ionChange)="this.onChange()"
  ></ion-searchbar>

</ion-toolbar>

<ion-content class="align-items-center">

  <div *ngIf="!this.API.ueo">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">Fill up the field</p>
  </div>
  
  <div *ngIf="this.API.ueo">

    <h1>UEO's:</h1>

    <div *ngFor="let section of this.API.ueo">

      <b>
        Lettre: {{section.letter}}
      </b>

      <ion-list *ngFor="let ueo of section.names">

        <ion-item>
          <ion-label>

            <p>
              {{ueo.name}}
            </p>

          </ion-label>
        </ion-item>

      </ion-list>

    </div>
    
  </div>  

</ion-content>