
<ion-content class="align-items-center" fullscreen>

  <div *ngIf="!this.API.ueo">
    <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
    <p style="color: rgba(229, 229, 234); font-size: 2em;">Fill up the field</p>
  </div>

  <div *ngIf="this.API.ueo && !this.API.ueoEdt">
    
    <ion-searchbar
      debounce="500"
      placeholder="Entrée votre UEO"
      autocomplete="on"
      clearIcon="close"
      color="search"
      inputmode="text"
      searchIcon="ios-funnel"
      [(ngModel)]="this.searchCurrent"
    ></ion-searchbar>

    <ion-list>

      <div *ngFor="let section of this.API.ueo">
        <div *ngFor="let ueo of section.names">
    
            <div *ngIf="this.searchCurrent.length <= 0">
              <ion-item (click)="this.API.getEdtUeo(ueo.code)">
                <ion-label>
      
                  <p>
                    {{ueo.name}}
                  </p>
      
                </ion-label>
              </ion-item>
            </div>
      
            <div *ngIf="this.searchCurrent.length > 0">

              <!-- Si le nom de la ueo contient l'input -->
              <ion-item
                *ngIf="ueo.name.toLowerCase().includes(this.searchCurrent.toLowerCase())"
                (click)="this.API.getEdtUeo(ueo.code)"
              >
                <ion-label>
      
                  <p>
                    {{ueo.name}}
                  </p>
      
                </ion-label>
              </ion-item>

            </div>
            
        </div>
      </div>      

    </ion-list>
  </div>
  
  <div *ngIf="this.API.ueoEdt" style="height: 100vh !important;">

    <ion-button (click)="this.calendar.mode = 'day'">DAY</ion-button>
    <ion-button (click)="this.calendar.mode = 'week'">WEEK</ion-button>
    <ion-button (click)="this.calendar.mode = 'month'">MONTH</ion-button>

    <calendar
      [eventSource]="this.API.loadCalendar(this.API.ueoEdt)"
      [calendarMode]="this.calendar.mode"
      [currentDate]="this.calendar.currentDate"
      [step]="30"
      [startHour]="8"
      [endHour]="21"
      [startingDayWeek]="1"
      [locale]="'en-GB'"
      (onEventSelected)="this.clickClass($event)"
    ></calendar>

  </div>

</ion-content>